table{
    width: 100%;
    border-collapse: collapse;
}
    th,td{
        border: 1px solid #555555;
        text-align: center;
        vertical-align: middle;
    }

    thead{
        background: #5959ff;
        color: #ffffff;
    }

.forCanvas{
    display: none;
}
canvas{
    display: none;
}


footer{
    padding: 20px;
}

#order{
    width: 100%;
}
#order .order_info{
    text-align: justify;
    padding: 15px 20px;
}
#order .order_info_img{
    width: 180px;
}
#order .order_info img{
    width: 180px;
}